<!--<button (click)="this.listPush()">List Push</button>-->
<!--<button (click)="this.listRemove()">List Remove</button>-->
<!--<button (click)="this.listUpdate()">List Update</button>-->
<!--<button (click)="this.objectUpdate()">Object Update</button>-->
<!--<button (click)="this.objectSet()">Object Set</button>-->
<!--<button (click)="this.objectRemove()">Object Remove</button>-->
<div class="container">
  <main class="l-main l-sample-app">
    <div>
      <div class="main-container">
        <div class="list">
          <fp-top-menu></fp-top-menu>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</div>
